# Ignore terraform state files
*.tfstate
*.tfstate.backup

# Ignore crash logs
crash.log

# Ignore .terraform directory and provider binaries
.terraform/
linux_amd64/

# Ignore override files as they are used to override resources locally and should not be committed
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore personal settings files
.terraformrc
.terraform.d/
    